body {
    max-width: 100vw;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #000080; /* Azul Marinho */
    color: #FFFFFF; /* Branco */
    text-align: center;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: #FFFFFF; /* Branco */
    color: #000080; /* Azul Marinho */
    margin: 0 auto;
    padding: 16px;

    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;

    border: 1px solid #000080; /* Azul Marinho */

    margin: 16px;
    gap: 16px;
    padding: 16px;

    flex: 1 1 25%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.artigo-autor {
    font-weight: bold;
}

button {
    cursor: pointer;
    background-color: #FFFFFF;
    border: 1px solid #000080;
    color: #000080;
    padding: 4px 8px;
    border-radius: 4px;
    margin: 4px;
}
